```bash
bsub -M 2000 
-e /nfs/research/goldman/zihao/errorsProject_1/Handle_with_output_errorChecking_error.txt 
'python3 /nfs/research/goldman/zihao/errorsProject_1/Handle_with_output.py'
```

- Save to {output_modified.txt}
## TODO
- Encapsulate as a function

In [22]:
import os
import pandas as pd

### 1. Handle with output

In [1]:
import os

def process_file(file_path, output_folder):
    """
    Process the output of MAPLE and filter out the data with percentage <0.5 and save it
    """
    # Open the output file to write the processed data
    with open(os.path.join(output_folder, "output_modified.txt"), "w") as output_file:
        # Write the column headers to the output file
        output_file.write("ID\tPosition\n")

        # Initialize the current_id variable to None
        current_id = None

        # Iterate over each line in the file and convert it to a list
        with open(file_path, "r") as input_file:
            for line in input_file:
                if line.startswith(">"):
                    # Update current_id if a new ID is encountered
                    current_id = line[1:].strip()
                else:
                    tokens = line.strip().split()
                    position = int(tokens[0])
                    base = tokens[1]
                    percentage = float(tokens[2])

                    # Check if percentage is less than 0.5, and if so, skip adding it to the processed data
                    if percentage < 0.5:
                        continue

                    # Write the processed data to the output file
                    output_file.write(f"{current_id}\t{position}\n")

                    # Delete variables to free up memory
                    del tokens, base, position, percentage

        # Delete the current_id variable after the loop has finished
        del current_id

    print(f"Processing complete and file written to {output_folder}.")

In [2]:
file_path = "/nfs/research/goldman/zihao/errorsProject_1/MAPLE/TEST_50000/MAPLE0.3.2_rateVar_errors_realData_checkingErrors_50000_estimatedErrors.txt"
output_folder = "/nfs/research/goldman/zihao/errorsProject_1/MAPLE/TEST_50000/"

process_file(file_path, output_folder)

Processing complete and file written to /nfs/research/goldman/zihao/errorsProject_1/MAPLE/TEST_50000/.

## Old version_without_function
```python
file_path = "/nfs/research/goldman/demaio/fastLK/MapleRealErrorsVariation_errorEstimation_estimatedErrors.txt"
output_folder = "/homes/zihao/P1/"

# Open the output file to write the processed data
with open(os.path.join(output_folder, "output_modified.txt"), "w") as output_file:
    # Write the column headers to the output file
    output_file.write("ID\tPosition\n")
    
    # Initialize the current_id variable to None
    current_id = None
    
    # Iterate over each line in the file and convert it to a list
    with open(file_path, "r") as input_file:
        for line in input_file:
            if line.startswith(">"):
                # Update current_id if a new ID is encountered
                current_id = line[1:].strip()
            else:
                tokens = line.strip().split()
                position = int(tokens[0])
                base = tokens[1]
                percentage = float(tokens[2])

                # Check if percentage is less than 0.5, and if so, skip adding it to the processed data
                if percentage < 0.5:
                    continue

                # Write the processed data to the output file
                output_file.write(f"{current_id}\t{position}\n")
                
                # Delete variables to free up memory
                del tokens, base, position, percentage
                
    # Delete the current_id variable after the loop has finished
    del current_id

print(f"Processing complete and file written to {output_folder}.")
```

In [31]:
pd.read_csv("output_modified.txt", sep='\t')

                    ID  Position
0       EPI_ISL_542150     28221
1       EPI_ISL_653826         4
2       EPI_ISL_653826     29868
3       EPI_ISL_511905        26
4       EPI_ISL_511905     20441
...                ...       ...
20814  EPI_ISL_1202081     24390
20815  EPI_ISL_1078237     29865
20816   EPI_ISL_509743        43
20817   EPI_ISL_498719      1211
20818   EPI_ISL_440776     29191

[20819 rows x 2 columns]