## <center>Preparing data for the Venn diagram.</center>


| **Label** | **start time** | **finish time** | **last modified** |
|:--------------:|:-----------:|:-----------:|:----------------:|
|   Project 1   |  2023-07-10 |  2023-07-19 |   2023-07-19     |

####  Threshold:
- SB > 0, 
- coverage ratio < 0.1,
- AF > 0.001.

# TODO:
- 1.add label
    - AF
    - SB
    - COV
- 2.Judging the six cases

In [1]:
import pandas as pd

In [7]:
Folder_path = "/nfs/research/goldman/zihao/Datas/p1_errorsProject_NEW/Folder_dataProcessing/folderData_MAPLE_allPos/ERR7875743_coverage.txt"
df_v0 = pd.read_csv(Folder_path, sep='\t')

# 创建 "Label" 列并设置相应的值
df_v0["Label"] = (df_v0["RATIO"] < 0.1).astype(int)
df_v0

       Position   N  RATIO  Label
0             1  A     0.0      1
1             2  T     0.0      1
2             3  T     0.0      1
3             4  A     0.0      1
4             5  A     0.0      1
...         ...  ..    ...    ...
29898     29899  A     0.0      1
29899     29900  A     0.0      1
29900     29901  A     0.0      1
29901     29902  A     0.0      1
29902     29903  A     0.0      1

[29903 rows x 4 columns]

In [8]:
sum(df_v0["Label"] == 1)

6404

In [53]:
# positions that were masked/ambiguous in the assemblies.
print('Number of Virdian assembly\'s called as errors by MAPLE: ', 
      sum((df_v1['label_mar'] == 1)&(df_v1['label_ori'] == 0)))
print('Number of Colman assembly\'s called as errors by MAPLE: ', 
      sum((df_v1['label_mar'] == 0)&(df_v1['label_ori'] == 1)))
print('Number of both called as errors by MAPLE: ', 
      sum((df_v1['label_mar'] == 1)&(df_v1['label_ori'] == 1)))

Number of Virdian assembly's called as errors by MAPLE:  66
Number of Colman assembly's called as errors by MAPLE:  4465
Number of both called as errors by MAPLE:  77

In [20]:
# positions that were not masked and not called as errors by MAPLE.
print('Number of Virdian assembly\'s not masked and not called as errors by MAPLE: ', 
      sum((df_v1['label_mar'] == 0)&(df_v1['VIR'] == 0)))
print('Number of Colman assembly\'s not masked and not called as errors by MAPLE: ', 
      sum((df_v1['label_ori'] == 0)&(df_v1['COL'] == 0)))

Number of Virdian assembly's not masked and not called as errors by MAPLE:  29760
Number of Colman assembly's not masked and not called as errors by MAPLE:  25360

In [23]:
# positions that were called as errors by MAPLE.
print('Number of Virdian assembly\'s called as errors by MAPLE: ', 
      sum((df_v1['VIR'] == 1)&(df_v1['COL'] == 0)))
print('Number of Colman assembly\'s called as errors by MAPLE: ', 
      sum((df_v1['COL'] == 1)&(df_v1['VIR'] == 0)))
print('Number of both called as errors by MAPLE: ', 
      sum((df_v1['COL'] == 1)&(df_v1['VIR'] == 1)))

Number of Virdian assembly's called as errors by MAPLE:  0
Number of Colman assembly's called as errors by MAPLE:  1
Number of both called as errors by MAPLE:  0

## Test - Final version

In [54]:
import os
import pandas as pd

def process_files(folder_path):
    num_viridian_masked = 0
    num_colman_masked = 0
    num_both_masked = 0
    
    num_viridian_unmasked_no_error = 0
    num_colman_unmasked_no_error = 0
    num_viridian_error = 0
    num_colman_error = 0
    num_both_error = 0

    for file_name in os.listdir(folder_path):
        if file_name.endswith(".txt"):
            df_v0 = pd.read_csv(os.path.join(folder_path, file_name), sep='\t')
            df_v1 = df_v0.fillna(0)

            df_v1["VIR"] = df_v1["VIR"].astype(int)
            df_v1["COL"] = df_v1["COL"].astype(int)

            num_viridian_masked += sum((df_v1['label_mar'] == 1)&(df_v1['label_ori'] == 0))
            num_colman_masked += sum((df_v1['label_mar'] == 0)&(df_v1['label_ori'] == 1))
            num_both_masked += sum((df_v1['label_mar'] == 1)&(df_v1['label_ori'] == 1))
            
            num_viridian_unmasked_no_error += sum((df_v1['label_mar'] == 0)&(df_v1['VIR'] == 0))
            num_colman_unmasked_no_error += sum((df_v1['label_ori'] == 0)&(df_v1['COL'] == 0))
            
            num_viridian_error += sum((df_v1['VIR'] == 1)&(df_v1['COL'] == 0))
            num_colman_error += sum((df_v1['COL'] == 1)&(df_v1['VIR'] == 0))
            num_both_error += sum((df_v1['COL'] == 1)&(df_v1['VIR'] == 1))

    print('====================== Info ======================')
    print('Total masked positions in Virdian assembly (excludes Colman\'s): ', num_viridian_masked)
    print('Total positions in Colman assembly (excludes Virdian\'s): ', num_colman_masked)
    print('Total positions masked in both assemblies: ', num_both_masked)
    print('====================== Info ======================')
    print('Total unmasked positions in Virdian assembly, without errors '
          'identified by MAPLE: ', num_viridian_unmasked_no_error)
    print('Total unmasked positions in Colman assembly, without errors '
          'identified by MAPLE: ', num_colman_unmasked_no_error)
    print('====================== Info ======================')
    print('Total positions in Virdian assembly identified as errors by MAPLE '
          '(excludes Colman\'s errors): ', num_viridian_error)
    print('Total positions in Colman assembly identified as errors by MAPLE '
          '(excludes Virdian\'s errors): ', num_colman_error)
    print('Total positions identified as errors in both assemblies by MAPLE: ', 
        num_both_error)

folder_path = "/nfs/research/goldman/zihao/Datas/p2_compViridian_P3/folderData_test"
process_files(folder_path)

====================== Info ======================
Total masked positions in Virdian assembly (excludes Colman's):  19070
Total positions in Colman assembly (excludes Virdian's):  168689
Total positions masked in both assemblies:  43755
====================== Info ======================
Total unmasked positions in Virdian assembly, without errors identified by MAPLE:  2927438
Total unmasked positions in Colman assembly, without errors identified by MAPLE:  2777767
====================== Info ======================
Total positions in Virdian assembly identified as errors by MAPLE (excludes Colman's errors):  11
Total positions in Colman assembly identified as errors by MAPLE (excludes Virdian's errors):  63
Total positions identified as errors in both assemblies by MAPLE:  26