##  threshold
- SB > 0, 
- coverage ratio < 0.1,
- AF > 0.001.

In [1]:
threshold_AF = 0.001
threshold_SB = 0
threshold_COV = 0.1

In [2]:
import pandas as pd

## 1. Error position

In [3]:
# input_for_annot_err = "/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Error_pos_for_annot.txt"
# input_for_cov_err = "/nfs/research/goldman/zihao/Datas/p1/File_5_coverage/Error_pos_for_coverage.txt"
input_for_annot_err = "/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Error_pos_for_annot_all.txt"
input_for_cov_err = "/nfs/research/goldman/zihao/Datas/p1/File_5_coverage/Error_pos_for_coverage_all.txt"

In [5]:
### For annot
df_err_annot = pd.read_csv(input_for_annot_err, sep='\t')

df_err_annot['ID_POS'] = df_err_annot['ID'].astype(str) + "_" + df_err_annot['Position'].astype(str)

df_err_annot['Flag_AF'] = df_err_annot['AF'] > threshold_AF
df_err_annot['Flag_SB'] = df_err_annot['SB'] > threshold_SB
df_err_annot.drop(['ID', 'Position','AF','SB'], axis=1, inplace=True)

print(df_err_annot)
print('=====================================')
### For coverage
df_err_cov = pd.read_csv(input_for_cov_err, sep='\t')

df_err_cov['ID_POS'] = df_err_cov['ID'].astype(str) + "_" + df_err_cov['Position'].astype(str)

df_err_cov['Flag_COV'] = df_err_cov['error'] < threshold_COV
df_err_cov.drop(['ID', 'Position', 'error'], axis=1, inplace=True)

print(df_err_cov)
print('=====================================')
### Merge
merged_df = pd.merge(df_err_annot, df_err_cov, on='ID_POS', how='inner')
merged_df.to_csv("/homes/zihao/EBI_INTER/A_Datas/ERR_POS_all.txt", sep='\t', index=False)
# merged_df.to_csv("/homes/zihao/EBI_INTER/A_Datas/ERR_POS.txt", sep='\t', index=False)

merged_df

                 ID_POS  Flag_AF  Flag_SB
0       ERR4423031_8755     True     True
1      ERR4421647_11812     True    False
2      ERR4421647_16174     True     True
3      ERR4422806_10764     True     True
4       ERR4424882_7071     True     True
...                 ...      ...      ...
48011  ERR4640670_20714     True    False
48012  ERR4633273_10999     True     True
48013  ERR4459789_26532     True     True
48014  ERR4459789_28717     True    False
48015   ERR4637087_9272    False    False

[48016 rows x 3 columns]
=====================================
                 ID_POS  Flag_COV
0       ERR4423031_8755      True
1      ERR4421647_11812     False
2      ERR4421647_16174     False
3      ERR4422806_10764      True
4       ERR4424882_7071     False
...                 ...       ...
47558  ERR4640670_20714     False
47559  ERR4633273_10999      True
47560  ERR4459789_26532     False
47561  ERR4459789_28717     False
47562   ERR4637087_9272      True

[47563 rows x 2 columns]
=====================================

                 ID_POS  Flag_AF  Flag_SB  Flag_COV
0       ERR4423031_8755     True     True      True
1      ERR4421647_11812     True    False     False
2      ERR4421647_16174     True     True     False
3      ERR4422806_10764     True     True      True
4       ERR4424882_7071     True     True     False
...                 ...      ...      ...       ...
47558  ERR4640670_20714     True    False     False
47559  ERR4633273_10999     True     True      True
47560  ERR4459789_26532     True     True     False
47561  ERR4459789_28717     True    False     False
47562   ERR4637087_9272    False    False      True

[47563 rows x 4 columns]

## 2. All position

In [6]:
# input_for_annot_all = "/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Annot_RATIO_sampling.txt"
# input_for_cov_all = "/nfs/research/goldman/zihao/Datas/p1/File_5_coverage/selected_data.txt"

# For all_samples: sample_size = 10
input_for_annot_all = "/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Annot_RATIO_sampling_all.txt"
input_for_cov_all = "/nfs/research/goldman/zihao/Datas/p1/File_5_coverage/cov_sampling_all.txt"

In [8]:
df_all_annot = pd.read_csv(input_for_annot_all, sep='\t')

df_all_annot['ID_POS'] = df_all_annot['ID'].astype(str) + "_" + df_all_annot['Position'].astype(str)

df_all_annot['Flag_AF'] = df_all_annot['AF'] > threshold_AF
df_all_annot['Flag_SB'] = df_all_annot['SB'] > threshold_SB
df_all_annot.drop(['ID', 'Position','AF','SB'], axis=1, inplace=True)

print(df_all_annot)
print('=====================================')

df_all_cov = pd.read_csv(input_for_cov_all, sep='\t')

df_all_cov['ID_POS'] = df_all_cov['ID'].astype(str) + "_" + df_all_cov['Position'].astype(str)

df_all_cov['Flag_COV'] = df_all_cov['Ratio'] < threshold_COV
df_all_cov.drop(['ID', 'Position', 'Ratio'], axis=1, inplace=True)

print(df_all_cov)
print('=====================================')

### Merge
merged_df_all = pd.merge(df_all_annot, df_all_cov, on='ID_POS', how='inner')
merged_df_all.to_csv("/homes/zihao/EBI_INTER/A_Datas/ALL_POS_all.txt", sep='\t', index=False)

merged_df_all

                  ID_POS  Flag_AF  Flag_SB
0         SRR20871168_15    False    False
1         SRR20871168_42    False    False
2         SRR20871168_49    False    False
3         SRR20871168_53    False    False
4         SRR20871168_63    False    False
...                  ...      ...      ...
299025   ERR8014888_1846    False    False
299026   ERR8014888_6346    False    False
299027   ERR8014888_8693    False    False
299028  ERR8014888_12979    False    False
299029  ERR8014888_26271    False    False

[299030 rows x 3 columns]
=====================================
                   ID_POS  Flag_COV
0           SRR20988284_1      True
1            ERR4891192_1      True
2            ERR6516923_1      True
3           SRR22063559_1      True
4           ERR10017967_1      True
...                   ...       ...
299025   ERR8182301_29903      True
299026   ERR6416408_29903      True
299027  SRR23066099_29903      True
299028   ERR6516923_29903      True
299029  SRR19919813_29903      True

[299030 rows x 2 columns]
=====================================

                  ID_POS  Flag_AF  Flag_SB  Flag_COV
0         SRR20871168_15    False    False      True
1         SRR20871168_42    False    False     False
2         SRR20871168_49    False    False     False
3         SRR20871168_53    False    False     False
4         SRR20871168_63    False    False     False
...                  ...      ...      ...       ...
299025   ERR8014888_1846    False    False     False
299026   ERR8014888_6346    False    False      True
299027   ERR8014888_8693    False    False     False
299028  ERR8014888_12979    False    False      True
299029  ERR8014888_26271    False    False     False

[299030 rows x 4 columns]

### Next 
- go ---> May.2_Venn.Rmd