In [1]:
import plotly.graph_objects as go
from plotly.offline import iplot, plot
import pandas as pd
import numpy as np

import plotly
from plotly.subplots import make_subplots
import plotly.io as pio
from scipy.stats import gaussian_kde

### 1. For all

In [2]:
## For all
# df_all = pd.read_csv('../../selected_data.txt', sep='\t')
df_all = pd.read_csv('/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Annot_RATIO_sampling_all.txt', sep='\t')
df_all['AF'] = df_all['AF'].replace([np.inf, -np.inf], np.nan)  # 将无穷大和无穷小值替换为NaN
df_all = df_all.dropna()  # 删除包含NaN的行
df_all

                 ID  Position   AF  SB
0       SRR20871168        15  0.0   0
1       SRR20871168        42  0.0   0
2       SRR20871168        49  0.0   0
3       SRR20871168        53  0.0   0
4       SRR20871168        63  0.0   0
...             ...       ...  ...  ..
299025   ERR8014888      1846  0.0   0
299026   ERR8014888      6346  0.0   0
299027   ERR8014888      8693  0.0   0
299028   ERR8014888     12979  0.0   0
299029   ERR8014888     26271  0.0   0

[299030 rows x 4 columns]

### 2. For error_pos

In [3]:
# df_err = pd.read_csv("../../A_Datas/Error_pos_for_annot.txt", sep='\t')
df_err = pd.read_csv("/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Error_pos_for_annot_all.txt", sep='\t')
df_err['AF'] = df_err['AF'].replace([np.inf, -np.inf], np.nan)  # 将无穷大和无穷小值替换为NaN
df_err = df_err.dropna()  # 删除包含NaN的行
df_err

               ID  Position        AF            SB
0      ERR4423031      8755  0.450757  5.000000e+00
1      ERR4421647     11812  0.331522  0.000000e+00
2      ERR4421647     16174  0.264922  4.000000e+00
3      ERR4422806     10764  0.343750  7.000000e+01
4      ERR4424882      7071  0.388591  2.147484e+09
...           ...       ...       ...           ...
48011  ERR4640670     20714  0.284420  0.000000e+00
48012  ERR4633273     10999  0.461538  2.300000e+01
48013  ERR4459789     26532  0.463502  2.147484e+09
48014  ERR4459789     28717  0.002441  0.000000e+00
48015  ERR4637087      9272  0.000881  0.000000e+00

[48011 rows x 4 columns]

### Final version！！！

In [5]:
import plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
from scipy.stats import gaussian_kde

hist_data = [(df_err[df_err['AF'] * 100 < 1]['AF'] * 100).tolist(), 
             (df_all[df_all['AF'] * 100 < 1]['AF'] * 100).tolist()]
group_labels = ['Error Position', 'All Position'] # name of the dataset
colors = ['#835AF1', '#B8F7D4']

fig = make_subplots(rows=2, cols=1, row_heights=[0.75, 0.25], shared_xaxes=True)

# 添加Density Plot子图
for data, label, color in zip(hist_data, group_labels, colors):
    kde = gaussian_kde(data)
    x_vals = np.linspace(min(data), max(data), 1000)
    y_vals = kde(x_vals)
    
    fig.add_trace(go.Scatter(x=x_vals, y=y_vals, mode='lines', fill='tozeroy', showlegend=False, line_color=color), 
                  row=1, col=1)

# 添加Box Plot子图
fig.add_trace(go.Box(x=df_all['AF'].tolist(), orientation='h', name=group_labels[1]), row=2, col=1)
fig.add_trace(go.Box(x=df_err['AF'].tolist(), orientation='h', name=group_labels[0]), row=2, col=1)


#fig.update_xaxes(type='log', range=[np.log10(0.001), 0.1], row=1, col=1)
#fig.update_xaxes(type='log', range=[np.log10(0.001), 0.1], row=2, col=1)

# 设置图形布局
fig.update_layout(
    title="Allele Frequency density map over sample positions",
    yaxis=dict(
        title='Probability density',
        showline=True, showgrid=False,
        linewidth=2, linecolor='gray', ticks='outside',
        tickfont=dict(
            family='Arial',
            size=12,
            color='black',
        )
    ),
    xaxis=dict(
        title='Allele Frequency / %',
        # type='log',  # 对数刻度
        range=[0, 0.45],
        showline=True, showgrid=False,
        linewidth=2, linecolor='gray', ticks='outside',
        tickfont=dict(
            family='Arial',
            size=12,
            color='black',
        )
    ),
    legend=dict(
        traceorder="normal",
        font=dict(size=12),
    ),
    plot_bgcolor='white',
    yaxis_gridcolor='lightgray', yaxis_gridwidth=0.5,
    xaxis_gridcolor='lightgray', xaxis_gridwidth=0.5,
)

#fig.show()
pio.write_image(fig, 'May.18_plot_for_AF_n.png')
#plotly.offline.plot(fig, filename = "plot_for_AF_nn.html")

### rug plot：
Showing the original discrete distribution of the data

In [7]:
import gc
gc.collect()

44