Tips：

根据ID找文件打开后加入所在文件

采用分布式，多个文件

In [2]:
import pandas as pd

In [3]:
## For COV
pd.read_csv("/nfs/research/goldman/zihao/Datas/p1/File_5_coverage/Decompress/SRR20427043_coverage.txt",
           sep='\t')

       Position   N  RATIO
0             1  A     0.0
1             2  T     0.0
2             3  T     0.0
3             4  A     0.0
4             5  A     0.0
...         ...  ..    ...
29898     29899  A     0.0
29899     29900  A     0.0
29900     29901  A     0.0
29901     29902  A     0.0
29902     29903  A     0.0

[29903 rows x 3 columns]

In [5]:
## For Annot
pd.read_csv("/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Decompress/SRR23028930_annot.txt",
           sep='\t').dropna()

         POS REF ALT        AF  SB
97        98  CT   C  0.224880   0
98        99  TC   T  0.282297   0
176      177   T   C  0.108225   0
209      210   G   T  0.121212   0
240      241   C   T  0.131579   0
...      ...  ..  ..       ...  ..
29471  29472  TG   T  0.103825   0
29572  29573  GT   G  0.113095   0
29699  29700  AG   A  0.111511   0
29710  29711  GA   G  0.189591   0
29741  29742   G   T  0.047170   0

[908 rows x 5 columns]

## For_run_MAPLE

### 1.combination
```bash
bsub -M 20000 'python3 /nfs/research/goldman/zihao/errorsProject_1/Part1_2_for_assemble/0_combination_for_MAPLE.py'
```

In [ ]:
output_file = '/nfs/research/goldman/zihao/Datas/p1/Part1_2_for_assemble_data/0_for_MAPLE/all_files_combined.fasta'  # 替换为你想要输出的文件路径

input_files = [
    '/nfs/research/goldman/zihao/Datas/p1/Part1_2_for_assemble_data/output_E/all_files_combined.fasta',
    '/nfs/research/goldman/zihao/Datas/p1/Part1_2_for_assemble_data/output_D/all_files_combined.fasta',
    '/nfs/research/goldman/zihao/Datas/p1/Part1_2_for_assemble_data/output_S/all_files_combined.fasta'
]

with open(output_file, 'w') as output:
    for file in input_files:
        with open(file, 'r') as f:
            output.write(f.read())
        output.write('\n')  # 在两个文件之间添加一个空行

### 2.alignment
```bash
bsub sh /nfs/research/goldman/zihao/errorsProject_1/Part1_2_for_assemble/Aligned_for_MAPLE.sh
```

In [ ]:
import os
import gzip
from Bio import SeqIO
import glob

# Define the input folder and output folder to be used
input_folder = '/nfs/research/goldman/zihao/Datas/p1/File_5_consensus/Decompress/Aligned/'
output_folder = '/nfs/research/goldman/zihao/Datas/p1/File_5_consensus/Decompress/Aligned/noReference/'

# Traverse all fasta files in the input folder
for filename in os.listdir(input_folder):
    if filename.endswith('.fasta'):
        # Create the output file name
        output_file = os.path.join(output_folder, 'all_consensuses_aligned_noReference_' + filename[:-6] + '.fasta')
        if not os.path.exists(output_file):
            open(output_file, 'w').close()
        input_file = os.path.join(input_folder, filename)
        # Read the file content
        with open(input_file) as f:
            content = f.read()
        # Find the first occurrence of '>MN908947.3'
        start_index = content.find('>MN908947.3')
        # Find the next occurrence of '>'
        end_index = content.find('>', start_index + 1)
        # Remove the content within the specified range
        content = content[:start_index] + content[end_index:]
        # Check if there are still headers with '>MN908947.3'
        while '>MN908947.3' in content:
            start_index = content.find('>MN908947.3')
            end_index = content.find('>', start_index + 1)
            if end_index == -1:
                print('The header for the next sequence is not found in the file content')
                break
            else:
                next_header = content[end_index:].split('\n', 1)[0]
                print(f"The header for the next sequence is: {next_header}")
                content = content[:start_index] + content[end_index:]
        # Write the processed content to the output file
        with open(output_file, 'w') as f:
            f.write(content)
        # Delete the content variable
        del content
        # Print a success message
        print(f"{filename} has been processed and saved to {os.path.basename(output_file)}")
        
print('Delete is completed')