##  threshold
- SB>0, 
- coverage ratio<0.1,
- AF>0.001(need change) .

In [1]:
threshold_AF = 0.001
threshold_SB = 0
threshold_COV = 0.1

In [1]:
import pandas as pd

## 1. Error position

In [3]:
input_for_annot_err = "/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Error_pos_for_annot.txt"
input_for_cov_err = "/nfs/research/goldman/zihao/Datas/p1/File_5_coverage/Error_pos_for_coverage.txt"

In [4]:
### For annot
df_err_annot = pd.read_csv(input_for_annot_err, sep='\t')

df_err_annot['ID_POS'] = df_err_annot['ID'].astype(str) + "_" + df_err_annot['Position'].astype(str)

df_err_annot['Flag_AF'] = df_err_annot['AF'] > threshold_AF
df_err_annot['Flag_SB'] = df_err_annot['SB'] > threshold_SB
df_err_annot.drop(['ID', 'Position','AF','SB'], axis=1, inplace=True)

print(df_err_annot)
print('=====================================')
### For coverage
df_err_cov = pd.read_csv(input_for_cov_err, sep='\t')

df_err_cov['ID_POS'] = df_err_cov['ID'].astype(str) + "_" + df_err_cov['Position'].astype(str)

df_err_cov['Flag_COV'] = df_err_cov['error'] < threshold_COV
df_err_cov.drop(['ID', 'Position', 'error'], axis=1, inplace=True)

print(df_err_cov)
print('=====================================')
### Merge
merged_df = pd.merge(df_err_annot, df_err_cov, on='ID_POS', how='inner')
merged_df.to_csv("/homes/zihao/EBI_INTER/A_Datas/ERR_POS.txt", sep='\t', index=False)

merged_df

                  ID_POS  Flag_AF  Flag_SB
0        ERR4424882_7071     True     True
1       SRR19472635_9086     True     True
2       SRR19928806_2335     True     True
3       SRR19928806_8651     True     True
4      SRR19928806_28088     True     True
...                  ...      ...      ...
21142   ERR4640021_10999     True     True
21143      ERR4633809_66    False     True
21144   ERR4638479_29736     True    False
21145   ERR4637567_15372    False     True
21146   ERR4640811_10884    False    False

[21147 rows x 3 columns]
=====================================
                  ID_POS  Flag_COV
0        ERR4424882_7071      True
1       SRR19472635_9086      True
2       SRR19928806_2335      True
3       SRR19928806_8651     False
4      SRR19928806_28088     False
...                  ...       ...
20952   ERR4640021_10999     False
20953      ERR4633809_66     False
20954   ERR4638479_29736      True
20955   ERR4637567_15372      True
20956   ERR4640811_10884      True

[20957 rows x 2 columns]
=====================================

                  ID_POS  Flag_AF  Flag_SB  Flag_COV
0        ERR4424882_7071     True     True      True
1       SRR19472635_9086     True     True      True
2       SRR19928806_2335     True     True      True
3       SRR19928806_8651     True     True     False
4      SRR19928806_28088     True     True     False
...                  ...      ...      ...       ...
20952   ERR4640021_10999     True     True     False
20953      ERR4633809_66    False     True     False
20954   ERR4638479_29736     True    False      True
20955   ERR4637567_15372    False     True      True
20956   ERR4640811_10884    False    False      True

[20957 rows x 4 columns]

## 2. All position

In [5]:
input_for_annot_all = "/nfs/research/goldman/zihao/Datas/p1/File_5_annot/Annot_RATIO_sampling.txt"

input_for_cov_all = "/nfs/research/goldman/zihao/Datas/p1/File_5_coverage/selected_data.txt"

In [6]:
df_all_annot = pd.read_csv(input_for_annot_all, sep='\t')

df_all_annot['ID_POS'] = df_all_annot['ID'].astype(str) + "_" + df_all_annot['Position'].astype(str)

df_all_annot['Flag_AF'] = df_all_annot['AF'] > threshold_AF
df_all_annot['Flag_SB'] = df_all_annot['SB'] > threshold_SB
df_all_annot.drop(['ID', 'Position','AF','SB'], axis=1, inplace=True)

print(df_all_annot)
print('=====================================')

df_all_cov = pd.read_csv(input_for_cov_all, sep='\t')

df_all_cov['ID_POS'] = df_all_cov['ID'].astype(str) + "_" + df_all_cov['Position'].astype(str)

df_all_cov['Flag_COV'] = df_all_cov['Ratio'] < threshold_COV
df_all_cov.drop(['ID', 'Position', 'Ratio'], axis=1, inplace=True)

print(df_all_cov)
print('=====================================')

### Merge
merged_df_all = pd.merge(df_all_annot, df_all_cov, on='ID_POS', how='inner')
merged_df_all.to_csv("/homes/zihao/EBI_INTER/A_Datas/ALL_POS.txt", sep='\t', index=False)

merged_df_all

                   ID_POS  Flag_AF  Flag_SB
0           SRR20871168_2    False    False
1           SRR20871168_6    False    False
2           SRR20871168_8    False    False
3          SRR20871168_11    False    False
4          SRR20871168_18    False    False
...                   ...      ...      ...
149510  SRR21757907_24578    False    False
149511  SRR21757907_25294    False    False
149512  SRR21757907_25539    False    False
149513  SRR21757907_27078    False    False
149514  SRR21757907_27329    False    False

[149515 rows x 3 columns]
=====================================
                   ID_POS  Flag_COV
0            ERR7806268_1     False
1           ERR10215281_1     False
2           SRR22063559_1     False
3            ERR6445014_1     False
4           SRR19919813_1     False
...                   ...       ...
149510   ERR6416408_29903     False
149511   ERR6512590_29903     False
149512  SRR23058048_29903     False
149513  SRR19919813_29903     False
149514  ERR10215281_29903     False

[149515 rows x 2 columns]
=====================================

                   ID_POS  Flag_AF  Flag_SB  Flag_COV
0           SRR20871168_2    False    False     False
1           SRR20871168_6    False    False     False
2           SRR20871168_8    False    False     False
3          SRR20871168_11    False    False     False
4          SRR20871168_18    False    False     False
...                   ...      ...      ...       ...
149510  SRR21757907_24578    False    False      True
149511  SRR21757907_25294    False    False      True
149512  SRR21757907_25539    False    False      True
149513  SRR21757907_27078    False    False     False
149514  SRR21757907_27329    False    False      True

[149515 rows x 4 columns]

In [3]:
df_err = pd.read_csv("../../A_Datas/ERR_POS.txt", sep='\t')
df_err

                  ID_POS  Flag_AF  Flag_SB  Flag_COV
0        ERR4424882_7071     True     True      True
1       SRR19472635_9086     True     True      True
2       SRR19928806_2335     True     True      True
3       SRR19928806_8651     True     True     False
4      SRR19928806_28088     True     True     False
...                  ...      ...      ...       ...
20952   ERR4640021_10999     True     True     False
20953      ERR4633809_66    False     True     False
20954   ERR4638479_29736     True    False      True
20955   ERR4637567_15372    False     True      True
20956   ERR4640811_10884    False    False      True

[20957 rows x 4 columns]

In [4]:
df_err['Flag_COV'] = df_err['Flag_COV'].map({True: False, False: True})
df_err

                  ID_POS  Flag_AF  Flag_SB  Flag_COV
0        ERR4424882_7071     True     True     False
1       SRR19472635_9086     True     True     False
2       SRR19928806_2335     True     True     False
3       SRR19928806_8651     True     True      True
4      SRR19928806_28088     True     True      True
...                  ...      ...      ...       ...
20952   ERR4640021_10999     True     True      True
20953      ERR4633809_66    False     True      True
20954   ERR4638479_29736     True    False     False
20955   ERR4637567_15372    False     True     False
20956   ERR4640811_10884    False    False     False

[20957 rows x 4 columns]

In [5]:
df_err.to_csv("../../A_Datas/ERR_POS.txt", sep='\t', index=False)

In [11]:
df_all = pd.read_csv("../../A_Datas/ALL_POS.txt", sep='\t')
df_all

                   ID_POS  Flag_AF  Flag_SB  Flag_COV
0           SRR20871168_2    False    False     False
1           SRR20871168_6    False    False     False
2           SRR20871168_8    False    False     False
3          SRR20871168_11    False    False     False
4          SRR20871168_18    False    False     False
...                   ...      ...      ...       ...
149510  SRR21757907_24578    False    False      True
149511  SRR21757907_25294    False    False      True
149512  SRR21757907_25539    False    False      True
149513  SRR21757907_27078    False    False     False
149514  SRR21757907_27329    False    False      True

[149515 rows x 4 columns]

In [12]:
df_all['Flag_COV'] = df_all['Flag_COV'].map({True: False, False: True})
df_all

                   ID_POS  Flag_AF  Flag_SB  Flag_COV
0           SRR20871168_2    False    False      True
1           SRR20871168_6    False    False      True
2           SRR20871168_8    False    False      True
3          SRR20871168_11    False    False      True
4          SRR20871168_18    False    False      True
...                   ...      ...      ...       ...
149510  SRR21757907_24578    False    False     False
149511  SRR21757907_25294    False    False     False
149512  SRR21757907_25539    False    False     False
149513  SRR21757907_27078    False    False      True
149514  SRR21757907_27329    False    False     False

[149515 rows x 4 columns]

In [13]:
df_all.to_csv("../../A_Datas/ALL_POS.txt", sep='\t', index=False)

### Next 
- go ---> May.2_Venn.Rmd