- Save to {processed_data.txt}

In [ ]:
import pandas as pd
import os

# Data Processing

In [54]:
df = pd.read_csv("TEST_1/EPI_ISL_1080221_coverage.txt", sep='\t')

df.head()

   Position  Coverage  RATIO
0         1         0    0.0
1         2         0    0.0
2         3         0    0.0
3         4         0    0.0
4         5         0    0.0

In [ ]:
def search_position_value_and_get_column_4(file_path, id_position):
    with open(file_path, "r") as f:
        file_header = f.readline().strip().split("\t")
        position_column_index = file_header.index("Position")
        column_4_index = 2

        for line in f:
            line_values = line.strip().split("\t")
            if position_column_index < len(line_values): # Check if index is within range
                position_value = int(line_values[position_column_index])
                if position_value == id_position and column_4_index < len(line_values):
                    return line_values[column_4_index]
    return None


def process_data(data_file_path, directory_to_search, output_file_path):
    data = []

    with open(data_file_path, "r") as f:
        header = f.readline().strip().split("\t")
        header.append("MEAN_err")

        for line in f:
            data.append(line.strip().split("\t") + [None])

    for line in data:
        id_now = str(line[0])
        id_position = line[1]

        if id_position is not None:
            for filename in os.listdir(directory_to_search):
                if id_now in filename and filename.endswith(".txt"):
                    file_path = os.path.join(directory_to_search, filename)
                    result = search_position_value_and_get_column_4(file_path, int(id_position))
                    if result is not None:
                        line[-1] = result
                        break

    with open(output_file_path, "w") as f:
        f.write("\t".join(header) + "\n")
        for line in data:
            f.write("\t".join(str(x) for x in line) + "\n")

In [ ]:
directory_to_search = "/homes/zihao/P1/TEST_1/"
data_file_path = "output_modified.txt"
output_file_path = "processed_data.txt"

process_data(data_file_path, directory_to_search, output_file_path)

In [66]:
df = pd.read_csv("processed_data.txt", sep='\t')

# Delete rows where RATIO is None
df = df.replace("None", np.nan)
df = df.dropna(subset=["MEAN_err"])

# Calculate the mean from the position
df["MEAN_err"] = df["MEAN_err"].astype(float)
df_v1 = df.groupby(by=["Position"], as_index=False).mean(numeric_only=True)

df_v1.to_csv("treat_err.txt", sep='\t', index=False)
df_v1.head()

   Position  MEAN_err
0         2  0.000000
1         4  0.000029
2         6  0.000000
3         8  0.000000
4         9  0.000000