In [1]:
import pandas as pd
df = pd.read_csv('../Datas/nb_5_dic.txt', delimiter='\t')
df.head()

        run_id  number of files
0    DRR428582                5
1  ERR10008306                5
2  ERR10008309                5
3  ERR10008311                5
4  ERR10008328                5

- 从数据文件中逐行读取数据，可以使用 Pandas 的 read_csv() 函数，并设置 chunksize 参数来逐块读取数据。
- 对于每一块数据，遍历每一行并进行处理。
- 对于每一行，比对另一个文件中的“run_id”，如果存在，则将该行数据的 run_id 和 FTP_path 存储在一个字典中，并将字典中的数据写入到一个文本文件中。
- 如果不存在，则直接跳过该行数据。
- 删除该块数据，继续读取下一块数据。

In [ ]:
# 从数据文件中逐块读取数据
for chunk in pd.read_csv('../Datas/analysis_full_06.04.23.txt', delimiter='\t', chunksize=1000):
    # 遍历每一行数据
    for index, row in chunk.iterrows():
        # 检查 DataFrame 中是否包含 'run_id' 这一列
        if 'run_id' in chunk.columns:
            # 比对另一个文件中的“run_id”
            if row['run_id'] in df['run_id'].values:
                print(row['run_id'])
                # 如果存在，则保存 run_id 和 FTP_path 并写入到文本文件中
                data = {'run_id': row['run_id'], 'FTP_path': row['FTP_path']}
                with open('output.txt', 'a') as f:
                    f.write(f"{data['run_id']}\t{data['FTP_path']}\n")
        # 删除内存中的该行数据
        del row